.DS_Store
target
node_modules
node
logs
dist
/.classpath
/.project
.idea
.vscode
.sass-cache
.tmp
*.css.map
*.iml
.classpath
.editorconfig
.project
src/main/resources/version.txt
/bin/
cat.properties
.settings
*.bak
tests/coverage
