.base-button {
  width: 90px;
  height: 38px;
  background-color: #0e8fc9;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  border-radius: 2px;
  border: none;
  outline: none;
  padding: 0;
}
