.filter-menu-container {
  display: block;
  background-color: transparent;

  .filter-label {
    height: 32px;
    line-height: 32px;
    color: #585959;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.4px;
    margin-right: 8px;
    float: left;
  }

  .filter-menu-button {
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    border: solid 1px #d4d6d6;
    border-radius: 16px;
    padding: 3px 0 0 0;
    cursor: default;

    &:hover,
    &.open {
      background-color: #00a9e0;
      color: #ffffff;
      border-color: transparent;

      .glyphicon {
        background-color: #00a9e0;
        color: #ffffff;
      }
    }

    &:hover,
    &:focus {
      box-shadow: none;
      outline: none;
      cursor: pointer;
    }

    .glyphicon {
      top: 0;
      left: 0;
      line-height: normal;
      background-color: transparent;
      color: #7a7a7a;
      font-size: 14px;
    }
  }

  .filter-menu {
    position: absolute;
    width: 263px;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 4px 16px 0 rgba(45, 46, 46, 0.08),
      0 1px 4px 0 rgba(45, 46, 46, 0.2);
    padding: 33px 16px 24px 16px;
    border: none;
    outline: none;

    .input-checkbox-wrapper {
      .input-checkbox-container {
        //     margin-bottom: 11px;

        &:last-child {
          margin-bottom: 43px;
        }

        //     .input-checkbox {
        //       width: 18px;
        //       height: 18px;
        //       background-color: #ffffff;
        //       border: solid 1px #d4d6d6;
        //       border-radius: 2px;
        //       float: left;
        //       margin-right: 12px;

        //       &:checked {
        //         background-color: #00a9e0;
        //         border: solid 1px #00a9e0;
        //         color: #ffffff;
        //       }
        //     }

        //     .input-label {
        //       color: #585959;
        //       font-size: 14px;
        //       font-weight: normal;
        //       font-style: normal;
        //       font-stretch: normal;
        //       line-height: 1.71;
        //       letter-spacing: normal;
        //     }
      }
    }

    .buttons-menu {
      padding: 0px 5px;

      .apply-button,
      .clear-button {
        background-color: transparent;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #0b74a3;
        border: none;
        outline: none;
        padding: 0;
      }

      .apply-button {
        float: right;
      }
    }
  }
}
